html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

h2 {
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large
}

h1.title {
    color: rgb(255, 119, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

h2.title {
    color: red;
}

button {
    color: #409eff;
    padding: 5px;
    margin: 0, auto;
    background-color: rgb(d4, d7, de);
    border-radius: 5px;
    font-size: larger;
    border-radius: 4px;
    min-height: 36px;
    flex: 1;
    cursor: pointer;
}

button:hover {
    background-color: #606266;
}

.nav {
    margin-bottom: 20px;
    display: flex;
}

.nav:last-child {
    margin-bottom: 0;
}

.catdog {   
    float: right;
}